.debug {
    outline: green;
}

body {
    background-color: white; 
    color: #DC61A2;
    position: relative;
}

nav {
    color: #DC61A2;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    display: inline;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px
}

.logo {
    height: 50px;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color:#DC61A2;
    font-size: .8em;
}

li {
    list-style-type: none;
    display: inline;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}

.underwear {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: auto;
    opacity: 0.8;
    aspect-ratio:calc(828/795);
    z-index: -1;
}

h1 {
    color: #DC61A2;
}

.serif {
    font-family: 'Apple Chancery';
    font-size: 8em;
    line-height: 100px;
    margin-left: 200px;
}

.san {
    font-family: 'Lexend', sans-serif;
    font-size: .7em;
}

h2 {
    text-align: left;        
    font-size: 2.5em;
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}   

.button-container {
    display: flex;
    gap: 50px;
    margin-left: 200px;
}

.rounded-btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

.btn-orange {
    background-color:#F09F46;
    color: white;
    border-color:#F09F46;

}

.btn-white {
    background-color: white;
    color:#DC61A2;
    border-color: #DC61A2;

}